<section class="container content-section text-center">
  <div class="row">
     
    <div class="col-lg-8 col-lg-offset-2">
    <p>Email Address: <%= @user.email %></p>

    <%= simple_form_for @user do |f| %>
      
      <%= f.label :first_name %>
      <%= f.text_field :first_name, :style => "color:black;" %>

      <div class="field">
        <%= f.label :last_name %>
        <%= f.text_field :last_name, :style => "color:black;" %>
      </div>

      <div class="field">
        <%= f.label :user_type %>
        <%= f.text_field :user_type, :style => "color:black;" %>
      </div>

      <div class="field">
        <%= f.label :specialty %>
        <%= f.text_field :specialty, :style => "color:black;" %>
      </div>

      <div class="field">
        <%= f.label :education %>
        <%= f.text_field :education, :style => "color:black;" %>
      </div>

      <div class="field">
        <%= f.label :desired_industry %>
        <%= f.text_field :desired_industry, :style => "color:black;" %>
      </div>

      <div class="field">
      <%= f.label :desired_company %>
      <%= f.text_field :desired_company, :style => "color:black;" %>
      </div>

      <div class="field">
      <%= f.label :previous_work_experiences %>
      <%= f.text_field :previous_work_experiences, :style => "color:black;" %>
      </div>

      <%= f.submit "Update" %>
    <% end %>
    </div>
  </div>
  <div>
  <%= image_tag @user.avatar.url(:medium) %> 
  <%= form_for @user, :url => avatar_path, :html => { :multipart => true } do |form| %>
    <%= form.file_field :avatar %>
    <%= form.submit "submit" %>
  <% end %>
  </div>

  <link rel="stylesheet" href="crocodoc.viewer.min.css" />
<script type="text/javascript" src="jquery.min.js"></script>
<script type="text/javascript" src="crocodoc.viewer.min.js"></script>
<div class="viewer" style="height: 400px"></div>
<script type="text/javascript">
    var viewer = Crocodoc.createViewer('.viewer', {
        url: 'https://view-api.box.com/1/sessions/3c6abc0dcf35422e8353cf9c27578d5c/assets/'
    });
    viewer.load();
</script>



</section>
